@media print {
	* {
		color: #000 !important;
	}

	table {
		width: 100%;
	}

	td {
		border-color: #000;
	}

	a::after {
		content: "(" attr(href) ")";
		margin-left: 2px;
	}

	.actions {
		display: none;
	}

	.expense::before {
		content: "- ";
	}

	.expense::after {
		content: " - Despesa";
	}

	.profit::before {
		content: "+ ";
	}

	.profit::after {
		content: " - Receita";
	}
}